<!DOCTYPE html>
<html>
<head>
    <title>非地理圖片展示</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 100vh; }
        .circle-icon {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            border: 3px solid #000;
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.95);
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var bounds = [[0,0], [-256, 256]];
        // SBe11 [-234.58, 163.36], GoV23 [-4.26, 8.9]
        var start = [-4.26, 8.9];
        var map = L.map('map', {
            crs: L.CRS.Simple,
            minZoom: 3,
            maxZoom: 6,
            maxBounds: bounds,
            zoom: 6,
            center: start,
            maxBoundsViscosity: 1.0 
        });

        L.tileLayer('static/leafletTest/{z}/{x}/{y}.png', {
            noWrap: true,
            bounds: bounds
        }).addTo(map);

        function createDynamicIcon(zoom) {
            var baseSize = 10; // 基础图标尺寸
            var borderWidth = 3; // 边框宽度
            var totalSize = baseSize + (zoom - 3) * 10; // 根据缩放级别动态调整基础尺寸
            var fullSize = totalSize + 2 * borderWidth; // 计算总尺寸，包括边框

            var icon = L.divIcon({
                className: 'circle-icon',
                html: '<div style="width:100%; height:100%;"></div>',
                iconSize: [totalSize, totalSize], // 使用包含边框的总尺寸
                iconAnchor: [fullSize / 2, fullSize / 2] // 将锚点设置为图标的中心
            });
            return icon;
        }


        var marker = L.marker(start, {icon: createDynamicIcon(map.getZoom())}).addTo(map);

        map.on('zoomend', function() {
            marker.setIcon(createDynamicIcon(map.getZoom()));
        });
    </script>
</body>
</html>
