<!DOCTYPE html>
<html>

<head>
    <meta charset="=" utf-8 />
    <title>SoulForged map</title>
    <link rel="icon" href="https://i.ibb.co/nLFwC08/paper-06.png" type="image/png">
    
</head>

<body>
    <div style="font-size: 50px;">Please open the resource map's website through this <a href="https://sf.crow.tw/?lang=en">Link</a>  now.</div>
    <br>
    <div style="font-size: 30px;">And don't forget to sync the changes in the game's plugin settings. </div>
    <div style="font-size: 30px;">Setting → Community plugin → Resource Logger Auto  → Show Config → Website Domain：https://sf.crow.tw/</div>
</body>


</html>